# Lab 2 - Classification tree and Kaggle competition

# **Name and Id:**

In this lab you will participate in a Kaggle competition:

https://www.kaggle.com/t/39cf03413c154fafbae8aee531326571

In this competition you will train, test and submit the results to the competition. Use a decision tree while choosing how to preprocess the data and the model's parameters.

First, click the link and join the competition.

## set up:
Using 'kaggle.json' file from last lab, load the competition's data:

(remember to upload it to your environment)

You should have 3 files: 

```
WineQT_train_set.csv
WineQT_test_set.csv
WineQT_sample_submission.csv - which is an example file to your submission

```

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c decision-trees-lab-2
! unzip /content/decision-trees-lab-2.zip

In [ ]:
import pandas as pd

train_set = pd.read_csv('/content/WineQT_train_set.csv', index_col='Id')
train_set.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
Id,,,,,,,,,,,,
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.9982,3.52,0.65,9.7,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.9968,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.9955,3.34,0.56,9.3,5
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.9972,3.47,0.55,9.4,5
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.9964,3.38,0.59,9.8,6

## Task 1:
Decide how to preprocess the data. Think about missing values, categorical values, normalization ect. I recommend analyzing missing values, distribution, mean values std values ect. to determine how to pre-process

(You can find information about the data and features on the competition page)

In [ ]:
# implement here

## Task 2:
Create a decision tree model - select it's parameters as you see fit.

Here you can use any tools and libraries you know to find and select the best model.

In [ ]:
# implemet here

## Task 3:
Create a predictions file. Use your trained model to make predictions on the test set and save the output to csv file named 'sample_submission.csv'.

Make sure to keep the ids of the test set (column 'Id') in your submission file. You have an example of this file named 'WineQT_sample_submission.csv' in the competition page on Kaggle and among the files you loaded. 

After you create and save your submission file, upload it to Kaggle competition by clicking on the submission button and choosing the file. You can submit your predictions up to **5 times a day.**

In [ ]:
# implement here
test_set = pd.read_csv('/content/WineQT_test_set.csv', index_col='Id')
test_set.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
Id,,,,,,,,,,,
3,11.2,0.280,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8
5,7.4,0.660,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4
6,7.9,0.600,0.06,1.6,0.069,15,59,0.9964,3.30,0.46,9.4
7,7.3,0.650,0.00,1.2,0.065,15,21,0.9946,3.39,0.47,10.0
8,7.8,0.580,0.02,2.0,0.073,9,18,0.9968,3.36,0.57,9.5
10,6.7,0.580,0.08,1.8,0.097,15,65,0.9959,3.28,0.54,9.2
12,5.6,0.615,0.00,1.6,0.089,16,59,0.9943,3.58,0.52,9.9
13,7.8,0.610,0.29,1.6,0.114,9,29,0.9974,3.26,1.56,9.1
16,8.5,0.280,0.56,1.8,0.092,35,103,0.9969,3.30,0.75,10.5
19,7.9,0.320,0.51,1.8,0.341,17,56,0.9969,3.04,1.08,9.2

## Task 4:
Convert the notebook into html:


1.   Download the notebook by clicking the File tab
2.   In the directory of the file open cmd
3.   Run the command:
```
 jupyter nbconvert --to html notebook.ipynb 
```